/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{box-sizing: border-box;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color:#000;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	height:100vh;
}

::-moz-selection {background: rgba(200, 200, 200, 1.0); color: #000; text-shadow: none;}
::selection {background: rgba(200, 200, 200, 1.0);color: #000;text-shadow: none;}
